.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.section__aZy44 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: flex-start;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 18px 0;
}
.section__aZy44 > * {
  grid-column: 4;
}
.link {
  position: relative;
  display: flex;
}
.svg__qdEex {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
}
.section__mrxz9 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__mrxz9 > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .section__mrxz9 {
    width: 100%;
    justify-self: flex-start;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .section__mrxz9 > * {
    grid-column: 4;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img {
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
  }
}
.section__wiHgS {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__wiHgS > * {
  grid-column: 4;
}
.freeBox___2N5Sx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 8px 18px;
}
.freeBox__brTiq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 18px 18px 32px;
}
.freeBox__brTiq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__brTiq > :global(.__wab_flex-container) > *,
.freeBox__brTiq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__brTiq > :global(.__wab_flex-container) > picture > img,
.freeBox__brTiq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 768px) {
  .freeBox__brTiq {
    padding: 128px 32px;
  }
}
.freeBox__a1GsU {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__a1GsU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__a1GsU > :global(.__wab_flex-container) > *,
.freeBox__a1GsU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a1GsU > :global(.__wab_flex-container) > picture > img,
.freeBox__a1GsU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__gTaw7 {
  display: flex;
  flex-direction: column;
}
.freeBox__gTaw7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gTaw7 > :global(.__wab_flex-container) > *,
.freeBox__gTaw7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gTaw7 > :global(.__wab_flex-container) > picture > img,
.freeBox__gTaw7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ytuGv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__clRrv {
  font-size: 38px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 768px) {
  .text__clRrv {
    text-align: center;
  }
}
.text__w6Ke5 {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  --plsmc-rc-col-gap: 16px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
@media (min-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 768px) {
  .column {
    width: 100%;
  }
}
.freeBox__wduor {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  height: 450px;
  margin-top: 18px;
  margin-bottom: 18px;
  padding-bottom: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #e5e5ea;
}
.freeBox__lhbOa {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__lhbOa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__lhbOa > :global(.__wab_flex-container) > *,
.freeBox__lhbOa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lhbOa > :global(.__wab_flex-container) > picture > img,
.freeBox__lhbOa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__chmWj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__chmWj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__chmWj > :global(.__wab_flex-container) > *,
.freeBox__chmWj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__chmWj > :global(.__wab_flex-container) > picture > img,
.freeBox__chmWj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___5VgGx {
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 768px) {
  .text___5VgGx {
    text-align: center;
  }
}
.text__wqU5V {
  font-size: 45px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 768px) {
  .text__wqU5V {
    text-align: center;
  }
}
.button2___2Xnny:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gmsGz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xPrk {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__gGyPl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___8ZfhE {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__zWs2 {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__zWs2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zWs2 > :global(.__wab_flex-container) > *,
.freeBox__zWs2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zWs2 > :global(.__wab_flex-container) > picture > img,
.freeBox__zWs2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__nZWd {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__nZWd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__nZWd > :global(.__wab_flex-container) > *,
.freeBox__nZWd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nZWd > :global(.__wab_flex-container) > picture > img,
.freeBox__nZWd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__aCpP8 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__uXtz1 {
  object-fit: cover;
  color: var(--token-WxvvgatuPYoJ);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__bQjZ {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__zQg2F {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__jNxGu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jNxGu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jNxGu > :global(.__wab_flex-container) > *,
.freeBox__jNxGu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jNxGu > :global(.__wab_flex-container) > picture > img,
.freeBox__jNxGu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__iDGyY {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__zz2NA {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__dSp {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__dSp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dSp > :global(.__wab_flex-container) > *,
.freeBox__dSp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dSp > :global(.__wab_flex-container) > picture > img,
.freeBox__dSp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__oZeo5 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__eRmnx {
  object-fit: cover;
  color: var(--token-WxvvgatuPYoJ);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__o99Il {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__x0NpY {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__o9AjI {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__o9AjI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__o9AjI > :global(.__wab_flex-container) > *,
.freeBox__o9AjI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o9AjI > :global(.__wab_flex-container) > picture > img,
.freeBox__o9AjI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__bopBg {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__jl0A {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__x2RHs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__x2RHs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__x2RHs > :global(.__wab_flex-container) > *,
.freeBox__x2RHs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x2RHs > :global(.__wab_flex-container) > picture > img,
.freeBox__x2RHs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox___8NPdp {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg___9EwUg {
  object-fit: cover;
  color: var(--token-WxvvgatuPYoJ);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__xWFzs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__mpG7Q {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__cvQ5U {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__cvQ5U > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__cvQ5U > :global(.__wab_flex-container) > *,
.freeBox__cvQ5U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cvQ5U > :global(.__wab_flex-container) > picture > img,
.freeBox__cvQ5U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__eLfF {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___4QPcg {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__inh7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  height: 550px;
  margin-top: 18px;
  margin-bottom: 18px;
  padding-bottom: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #e5e5ea;
}
.freeBox___2BZgj {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox___2BZgj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___2BZgj > :global(.__wab_flex-container) > *,
.freeBox___2BZgj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2BZgj > :global(.__wab_flex-container) > picture > img,
.freeBox___2BZgj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__ldXjv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ldXjv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ldXjv > :global(.__wab_flex-container) > *,
.freeBox__ldXjv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ldXjv > :global(.__wab_flex-container) > picture > img,
.freeBox__ldXjv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___3THk {
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 768px) {
  .text___3THk {
    text-align: center;
  }
}
.text__gsZih {
  font-size: 45px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 768px) {
  .text__gsZih {
    text-align: center;
  }
}
.button2__a4Txd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bVurX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___1ESrv {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__pbCix {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__d94Us {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__dmE7I {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__dmE7I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dmE7I > :global(.__wab_flex-container) > *,
.freeBox__dmE7I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dmE7I > :global(.__wab_flex-container) > picture > img,
.freeBox__dmE7I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ritPw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__ritPw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ritPw > :global(.__wab_flex-container) > *,
.freeBox__ritPw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ritPw > :global(.__wab_flex-container) > picture > img,
.freeBox__ritPw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__lauZ3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__qEtPi {
  object-fit: cover;
  color: var(--token-WxvvgatuPYoJ);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__shO {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__forl3 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__kz7Wt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__kz7Wt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__kz7Wt > :global(.__wab_flex-container) > *,
.freeBox__kz7Wt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kz7Wt > :global(.__wab_flex-container) > picture > img,
.freeBox__kz7Wt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__jzsyh {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___6EVX {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__rdy2P {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__rdy2P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__rdy2P > :global(.__wab_flex-container) > *,
.freeBox__rdy2P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rdy2P > :global(.__wab_flex-container) > picture > img,
.freeBox__rdy2P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__yu8H5 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__alfX0 {
  object-fit: cover;
  color: var(--token-WxvvgatuPYoJ);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__a597R {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__yWqKl {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__tIsWu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tIsWu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__tIsWu > :global(.__wab_flex-container) > *,
.freeBox__tIsWu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tIsWu > :global(.__wab_flex-container) > picture > img,
.freeBox__tIsWu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__wjDSw {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__ig7FO {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__oQmG9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__oQmG9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__oQmG9 > :global(.__wab_flex-container) > *,
.freeBox__oQmG9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oQmG9 > :global(.__wab_flex-container) > picture > img,
.freeBox__oQmG9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__e1LA {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__hMqO {
  object-fit: cover;
  color: var(--token-WxvvgatuPYoJ);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox___1K6W0 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__hi49U {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___7GGC {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___7GGC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___7GGC > :global(.__wab_flex-container) > *,
.freeBox___7GGC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7GGC > :global(.__wab_flex-container) > picture > img,
.freeBox___7GGC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__wS5Ii {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__sSli8 {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__r2Sav {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__r2Sav > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__r2Sav > :global(.__wab_flex-container) > *,
.freeBox__r2Sav > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r2Sav > :global(.__wab_flex-container) > picture > img,
.freeBox__r2Sav
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__kx0DK {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__psZjf {
  object-fit: cover;
  color: var(--token-WxvvgatuPYoJ);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__xgrYv {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg___1EgXr {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___2LxPf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___2LxPf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___2LxPf > :global(.__wab_flex-container) > *,
.freeBox___2LxPf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2LxPf > :global(.__wab_flex-container) > picture > img,
.freeBox___2LxPf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__ugGnq {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___2XRr2 {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__vnNp3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__vnNp3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__vnNp3 > :global(.__wab_flex-container) > *,
.freeBox__vnNp3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vnNp3 > :global(.__wab_flex-container) > picture > img,
.freeBox__vnNp3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__h2EvS {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__nO91 {
  object-fit: cover;
  color: var(--token-WxvvgatuPYoJ);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox___6OV2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__pgz6N {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__r8VT7 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__r8VT7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__r8VT7 > :global(.__wab_flex-container) > *,
.freeBox__r8VT7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r8VT7 > :global(.__wab_flex-container) > picture > img,
.freeBox__r8VT7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__qDiDp {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__vwOga {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__uC1W2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__uC1W2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__uC1W2 > :global(.__wab_flex-container) > *,
.freeBox__uC1W2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uC1W2 > :global(.__wab_flex-container) > picture > img,
.freeBox__uC1W2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__rrOn3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg___0SaNb {
  object-fit: cover;
  color: var(--token-WxvvgatuPYoJ);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__t4Q5C {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__nl2Nb {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__hNlgr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hNlgr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__hNlgr > :global(.__wab_flex-container) > *,
.freeBox__hNlgr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hNlgr > :global(.__wab_flex-container) > picture > img,
.freeBox__hNlgr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__o4CB {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__aOkFc {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
