.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  margin-bottom: 20px;
}
.freeBox {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  width: 100%;
  margin-bottom: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 18px 16px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.banner {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: calc(0px + 32px) !important;
  width: 100%;
  height: 300px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .banner {
    margin-top: calc(0px + 32px) !important;
  }
}
.columns__y0E3Q {
  --plsmc-rc-col-gap: 0px;
}
.columns__y0E3Q {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 23px;
  min-width: 0;
  padding: 8px 8px 110px;
}
.columns__y0E3Q > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__y0E3Q > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 768px) {
  .columns__y0E3Q {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__y0E3Q > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 768px) {
  .columns__y0E3Q > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 768px) {
  .columns__y0E3Q > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 768px) {
  .columns__y0E3Q > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__bEPml {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.section__x0UMx {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 150px;
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 6px;
  padding: 30px 0;
  border: 1px solid var(--token-Xzi5OT07e2_1);
}
.section__x0UMx > * {
  grid-column: 4;
}
.svg__z7T5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 50px;
}
.text__biXjd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #535353;
  min-width: 0;
}
.column__dA9Y6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.section__oImqw {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  box-shadow: none;
  height: 150px;
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 6px;
  padding: 30px 0;
  border: 1px solid var(--token-Xzi5OT07e2_1);
}
.section__oImqw > * {
  grid-column: 4;
}
.svg__z5Ty5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 50px;
}
.text__fpLHx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #535353;
  min-width: 0;
}
.column__bhscj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.section__eiW1T {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 150px;
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 6px;
  padding: 30px 0;
  border: 1px solid var(--token-Xzi5OT07e2_1);
}
.section__eiW1T > * {
  grid-column: 4;
}
.svg__rBnAo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 40px;
}
.text___3APm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 0px;
  color: #535353;
  min-width: 0;
}
.column___7PtYg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.section__wAzZh {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 150px;
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 6px;
  padding: 30px 0;
  border: 1px solid var(--token-Xzi5OT07e2_1);
}
.section__wAzZh > * {
  grid-column: 4;
}
.svg__zlNGt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 40px;
}
.text__aupTp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 0px;
  min-width: 0;
}
.columns__q9Rhy {
  --plsmc-rc-col-gap: 0px;
}
.columns__q9Rhy {
  display: flex;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  background: var(--token-jgohepLVeKvh);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 8px;
}
.columns__q9Rhy > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__q9Rhy > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__q9Rhy > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__q9Rhy > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 768px) {
  .columns__q9Rhy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 768px) {
  .columns__q9Rhy > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 768px) {
  .columns__q9Rhy > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 768px) {
  .columns__q9Rhy > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 768px) {
  .columns__q9Rhy > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column___5Dqea {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg___1MgKr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  color: #9ca4ac;
  flex-shrink: 0;
}
.text__vnZqu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #9ca4ac;
  min-width: 0;
}
.column__hZiJ4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  color: #535353;
  min-width: 0;
  padding: 8px;
}
.svg__tgukW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  color: #9ca4ac;
  flex-shrink: 0;
}
.text__ngCji {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  text-align: center;
  font-size: 14px;
  color: #9ca4ac;
  min-width: 0;
}
.column___9Nf4I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__qoIx9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  color: #474d5f;
  flex-shrink: 0;
}
.text__syAIl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #474d5f;
  min-width: 0;
}
.column__iLXaj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__owr8Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  color: #9ca4ac;
  flex-shrink: 0;
}
.text__ysePs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #9ca4ac;
  min-width: 0;
}
