.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: var(--token-jgohepLVeKvh);
  box-shadow: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
  border-bottom: 1px solid var(--token-Xzi5OT07e2_1);
}
.link__tPWfV {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__odBqg {
  object-fit: cover;
  height: 40px;
}
.img__odBqg > picture > img {
  object-fit: cover;
}
.img__xyhbu {
  object-fit: cover;
  height: 22px;
  margin-bottom: 0px;
}
.img__xyhbu > picture > img {
  object-fit: cover;
}
.img__sanEo {
  object-fit: cover;
}
.img__sanEo > picture > img {
  object-fit: cover;
}
.link___4T94B {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__kqR6S {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link___7R0LP {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.section__u9A {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-content: flex-start;
  justify-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 0px 64px;
}
.section__u9A > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .section__u9A > * {
    grid-column: 4;
  }
}
.freeBox__lf0JI {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 18px 16px;
}
.freeBox__lf0JI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__lf0JI > :global(.__wab_flex-container) > *,
.freeBox__lf0JI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lf0JI > :global(.__wab_flex-container) > picture > img,
.freeBox__lf0JI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.svg__fG7Ki {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: calc(0px + 32px) !important;
  width: 100%;
  height: 300px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___6Ssyj {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.freeBox___6Ssyj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___6Ssyj > :global(.__wab_flex-container) > *,
.freeBox___6Ssyj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Ssyj > :global(.__wab_flex-container) > picture > img,
.freeBox___6Ssyj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__a3U5Y {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___9VlXl {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 768px) {
  .text___9VlXl {
    text-align: center;
  }
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qs41H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__btAud {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__tMfom {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__u2Rxa {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 768px) {
  .text__u2Rxa {
    text-align: center;
  }
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 768px) {
  .columns > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 768px) {
  .columns > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 768px) {
  .columns > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__hXuCo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.section__hB4FH {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 6px;
  padding: 30px 0;
  border: 1px solid var(--token-Xzi5OT07e2_1);
}
.section__hB4FH > * {
  grid-column: 4;
}
.svg__kqw0O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__gHoQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 0px;
  min-width: 0;
}
.column__u0HgA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.section__g8Rz {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 6px;
  padding: 30px 0;
  border: 1px solid var(--token-Xzi5OT07e2_1);
}
.section__g8Rz > * {
  grid-column: 4;
}
.svg__lgbbv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__vlhPp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 16px;
  min-width: 0;
}
.column__p48Kq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.section__yEh3E {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 6px;
  padding: 30px 0;
  border: 1px solid var(--token-Xzi5OT07e2_1);
}
.section__yEh3E > * {
  grid-column: 4;
}
.svg__f457L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__dKuvW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 16px;
  min-width: 0;
}
.column__y7Fhy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.section__shGov {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 6px;
  padding: 30px 0;
  border: 1px solid var(--token-Xzi5OT07e2_1);
}
.section__shGov > * {
  grid-column: 4;
}
.svg__nlAp1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__tomw9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 16px;
  min-width: 0;
}
