@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-ltvOmjJEGFJt_font-family: "Inter", sans-serif;
  --mixin-ltvOmjJEGFJt_font-size: 16px;
  --mixin-ltvOmjJEGFJt_font-weight: 400;
  --mixin-ltvOmjJEGFJt_font-style: normal;
  --mixin-ltvOmjJEGFJt_color: #535353;
  --mixin-ltvOmjJEGFJt_text-align: left;
  --mixin-ltvOmjJEGFJt_text-transform: none;
  --mixin-ltvOmjJEGFJt_line-height: 1.5;
  --mixin-ltvOmjJEGFJt_letter-spacing: normal;
  --mixin-ltvOmjJEGFJt_white-space: pre-wrap;
  --mixin-ltvOmjJEGFJt_user-select: text;
  --mixin-ltvOmjJEGFJt_text-decoration-line: none;
  --mixin-ltvOmjJEGFJt_text-overflow: clip;
  --mixin-6wx3nEWVaYA8_color: #000000;
  --mixin-6wx3nEWVaYA8_font-size: 24px;
  --mixin-6wx3nEWVaYA8_font-weight: 600;
  --mixin-6wx3nEWVaYA8_letter-spacing: -0.5px;
  --mixin-6wx3nEWVaYA8_line-height: 1.3;
  --mixin-6wx3nEWVaYA8_white-space: pre-wrap;
  --mixin-aKFNT1hMhWRP_color: #000000;
  --mixin-aKFNT1hMhWRP_font-size: 20px;
  --mixin-aKFNT1hMhWRP_font-weight: 600;
  --mixin-aKFNT1hMhWRP_letter-spacing: -0.3px;
  --mixin-aKFNT1hMhWRP_line-height: 1.5;
  --mixin-aKFNT1hMhWRP_white-space: pre-wrap;
  --mixin-lkM1GPFLkF27_color: #000000;
  --mixin-lkM1GPFLkF27_font-size: 16px;
  --mixin-lkM1GPFLkF27_font-weight: 600;
  --mixin-lkM1GPFLkF27_line-height: 1.5;
  --mixin-lkM1GPFLkF27_white-space: pre-wrap;
  --mixin-hFS9_TKf7A2i_color: #0070f3;
  --mixin-hFS9_TKf7A2i_white-space: pre-wrap;
  --mixin---kpMVyCUTtc_border-left-color: #dddddd;
  --mixin---kpMVyCUTtc_border-left-style: solid;
  --mixin---kpMVyCUTtc_border-left-width: 3px;
  --mixin---kpMVyCUTtc_color: #888888;
  --mixin---kpMVyCUTtc_padding-left: 10px;
  --mixin---kpMVyCUTtc_white-space: pre-wrap;
  --mixin-BtKjh7zI69Dx_color: #000000;
  --mixin-BtKjh7zI69Dx_font-size: 64px;
  --mixin-BtKjh7zI69Dx_font-weight: 700;
  --mixin-BtKjh7zI69Dx_letter-spacing: -1px;
  --mixin-BtKjh7zI69Dx_line-height: 1;
  --mixin-BtKjh7zI69Dx_white-space: pre-wrap;
  --mixin-8naCs09Hm_4x_color: #000000;
  --mixin-8naCs09Hm_4x_font-size: 48px;
  --mixin-8naCs09Hm_4x_font-weight: 700;
  --mixin-8naCs09Hm_4x_line-height: 1.1;
  --mixin-8naCs09Hm_4x_letter-spacing: -0.5px;
  --mixin-8naCs09Hm_4x_white-space: pre-wrap;
  --mixin-ksv7z0q9vres_color: #000000;
  --mixin-ksv7z0q9vres_font-size: 32px;
  --mixin-ksv7z0q9vres_font-weight: 600;
  --mixin-ksv7z0q9vres_line-height: 1.2;
  --mixin-ksv7z0q9vres_white-space: pre-wrap;
  --mixin-G295kHuO11eE_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-G295kHuO11eE_border-bottom-color: #dddddd;
  --mixin-G295kHuO11eE_border-bottom-style: solid;
  --mixin-G295kHuO11eE_border-bottom-width: 1px;
  --mixin-G295kHuO11eE_border-left-color: #dddddd;
  --mixin-G295kHuO11eE_border-left-style: solid;
  --mixin-G295kHuO11eE_border-left-width: 1px;
  --mixin-G295kHuO11eE_border-right-color: #dddddd;
  --mixin-G295kHuO11eE_border-right-style: solid;
  --mixin-G295kHuO11eE_border-right-width: 1px;
  --mixin-G295kHuO11eE_border-top-color: #dddddd;
  --mixin-G295kHuO11eE_border-top-style: solid;
  --mixin-G295kHuO11eE_border-top-width: 1px;
  --mixin-G295kHuO11eE_border-bottom-left-radius: 3px;
  --mixin-G295kHuO11eE_border-bottom-right-radius: 3px;
  --mixin-G295kHuO11eE_border-top-left-radius: 3px;
  --mixin-G295kHuO11eE_border-top-right-radius: 3px;
  --mixin-G295kHuO11eE_font-family: "Inconsolata";
  --mixin-G295kHuO11eE_padding-bottom: 1px;
  --mixin-G295kHuO11eE_padding-left: 4px;
  --mixin-G295kHuO11eE_padding-right: 4px;
  --mixin-G295kHuO11eE_padding-top: 1px;
  --mixin-G295kHuO11eE_white-space: pre-wrap;
  --mixin-7uh-qXJTaDv1_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7uh-qXJTaDv1_border-bottom-color: #dddddd;
  --mixin-7uh-qXJTaDv1_border-bottom-style: solid;
  --mixin-7uh-qXJTaDv1_border-bottom-width: 1px;
  --mixin-7uh-qXJTaDv1_border-left-color: #dddddd;
  --mixin-7uh-qXJTaDv1_border-left-style: solid;
  --mixin-7uh-qXJTaDv1_border-left-width: 1px;
  --mixin-7uh-qXJTaDv1_border-right-color: #dddddd;
  --mixin-7uh-qXJTaDv1_border-right-style: solid;
  --mixin-7uh-qXJTaDv1_border-right-width: 1px;
  --mixin-7uh-qXJTaDv1_border-top-color: #dddddd;
  --mixin-7uh-qXJTaDv1_border-top-style: solid;
  --mixin-7uh-qXJTaDv1_border-top-width: 1px;
  --mixin-7uh-qXJTaDv1_border-bottom-left-radius: 3px;
  --mixin-7uh-qXJTaDv1_border-bottom-right-radius: 3px;
  --mixin-7uh-qXJTaDv1_border-top-left-radius: 3px;
  --mixin-7uh-qXJTaDv1_border-top-right-radius: 3px;
  --mixin-7uh-qXJTaDv1_font-family: "Inconsolata";
  --mixin-7uh-qXJTaDv1_padding-bottom: 3px;
  --mixin-7uh-qXJTaDv1_padding-left: 6px;
  --mixin-7uh-qXJTaDv1_padding-right: 6px;
  --mixin-7uh-qXJTaDv1_padding-top: 3px;
  --mixin-7uh-qXJTaDv1_white-space: pre-wrap;
  --mixin-RZplVAMXsQjX_display: flex;
  --mixin-RZplVAMXsQjX_flex-direction: column;
  --mixin-RZplVAMXsQjX_align-items: stretch;
  --mixin-RZplVAMXsQjX_justify-content: flex-start;
  --mixin-RZplVAMXsQjX_list-style-position: outside;
  --mixin-RZplVAMXsQjX_padding-left: 40px;
  --mixin-RZplVAMXsQjX_position: relative;
  --mixin-RZplVAMXsQjX_list-style-type: decimal;
  --mixin-RZplVAMXsQjX_white-space: pre-wrap;
  --mixin-0eCWiT-EeOtu_display: flex;
  --mixin-0eCWiT-EeOtu_flex-direction: column;
  --mixin-0eCWiT-EeOtu_align-items: stretch;
  --mixin-0eCWiT-EeOtu_justify-content: flex-start;
  --mixin-0eCWiT-EeOtu_list-style-position: outside;
  --mixin-0eCWiT-EeOtu_padding-left: 40px;
  --mixin-0eCWiT-EeOtu_position: relative;
  --mixin-0eCWiT-EeOtu_list-style-type: disc;
  --mixin-0eCWiT-EeOtu_white-space: pre-wrap;
  --mixin-INCPg4dP1d4V_color: #3291ff;
  --mixin-INCPg4dP1d4V_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-ltvOmjJEGFJt_font-family);
  font-size: var(--mixin-ltvOmjJEGFJt_font-size);
  font-weight: var(--mixin-ltvOmjJEGFJt_font-weight);
  font-style: var(--mixin-ltvOmjJEGFJt_font-style);
  color: var(--mixin-ltvOmjJEGFJt_color);
  text-align: var(--mixin-ltvOmjJEGFJt_text-align);
  text-transform: var(--mixin-ltvOmjJEGFJt_text-transform);
  line-height: var(--mixin-ltvOmjJEGFJt_line-height);
  letter-spacing: var(--mixin-ltvOmjJEGFJt_letter-spacing);
  white-space: var(--mixin-ltvOmjJEGFJt_white-space);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-6wx3nEWVaYA8_color);
  font-size: var(--mixin-6wx3nEWVaYA8_font-size);
  font-weight: var(--mixin-6wx3nEWVaYA8_font-weight);
  letter-spacing: var(--mixin-6wx3nEWVaYA8_letter-spacing);
  line-height: var(--mixin-6wx3nEWVaYA8_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-aKFNT1hMhWRP_color);
  font-size: var(--mixin-aKFNT1hMhWRP_font-size);
  font-weight: var(--mixin-aKFNT1hMhWRP_font-weight);
  letter-spacing: var(--mixin-aKFNT1hMhWRP_letter-spacing);
  line-height: var(--mixin-aKFNT1hMhWRP_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-lkM1GPFLkF27_color);
  font-size: var(--mixin-lkM1GPFLkF27_font-size);
  font-weight: var(--mixin-lkM1GPFLkF27_font-weight);
  line-height: var(--mixin-lkM1GPFLkF27_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-hFS9_TKf7A2i_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin---kpMVyCUTtc_color);
  padding-left: var(--mixin---kpMVyCUTtc_padding-left);
  border-left: var(--mixin---kpMVyCUTtc_border-left-width)
    var(--mixin---kpMVyCUTtc_border-left-style)
    var(--mixin---kpMVyCUTtc_border-left-color);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-BtKjh7zI69Dx_color);
  font-size: var(--mixin-BtKjh7zI69Dx_font-size);
  font-weight: var(--mixin-BtKjh7zI69Dx_font-weight);
  letter-spacing: var(--mixin-BtKjh7zI69Dx_letter-spacing);
  line-height: var(--mixin-BtKjh7zI69Dx_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-8naCs09Hm_4x_color);
  font-size: var(--mixin-8naCs09Hm_4x_font-size);
  font-weight: var(--mixin-8naCs09Hm_4x_font-weight);
  line-height: var(--mixin-8naCs09Hm_4x_line-height);
  letter-spacing: var(--mixin-8naCs09Hm_4x_letter-spacing);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-ksv7z0q9vres_color);
  font-size: var(--mixin-ksv7z0q9vres_font-size);
  font-weight: var(--mixin-ksv7z0q9vres_font-weight);
  line-height: var(--mixin-ksv7z0q9vres_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-G295kHuO11eE_font-family);
  border-radius: var(--mixin-G295kHuO11eE_border-top-left-radius)
    var(--mixin-G295kHuO11eE_border-top-right-radius)
    var(--mixin-G295kHuO11eE_border-bottom-right-radius)
    var(--mixin-G295kHuO11eE_border-bottom-left-radius);
  padding: var(--mixin-G295kHuO11eE_padding-top)
    var(--mixin-G295kHuO11eE_padding-right)
    var(--mixin-G295kHuO11eE_padding-bottom)
    var(--mixin-G295kHuO11eE_padding-left);
  border-top: var(--mixin-G295kHuO11eE_border-top-width)
    var(--mixin-G295kHuO11eE_border-top-style)
    var(--mixin-G295kHuO11eE_border-top-color);
  border-right: var(--mixin-G295kHuO11eE_border-right-width)
    var(--mixin-G295kHuO11eE_border-right-style)
    var(--mixin-G295kHuO11eE_border-right-color);
  border-bottom: var(--mixin-G295kHuO11eE_border-bottom-width)
    var(--mixin-G295kHuO11eE_border-bottom-style)
    var(--mixin-G295kHuO11eE_border-bottom-color);
  border-left: var(--mixin-G295kHuO11eE_border-left-width)
    var(--mixin-G295kHuO11eE_border-left-style)
    var(--mixin-G295kHuO11eE_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7uh-qXJTaDv1_font-family);
  border-radius: var(--mixin-7uh-qXJTaDv1_border-top-left-radius)
    var(--mixin-7uh-qXJTaDv1_border-top-right-radius)
    var(--mixin-7uh-qXJTaDv1_border-bottom-right-radius)
    var(--mixin-7uh-qXJTaDv1_border-bottom-left-radius);
  padding: var(--mixin-7uh-qXJTaDv1_padding-top)
    var(--mixin-7uh-qXJTaDv1_padding-right)
    var(--mixin-7uh-qXJTaDv1_padding-bottom)
    var(--mixin-7uh-qXJTaDv1_padding-left);
  border-top: var(--mixin-7uh-qXJTaDv1_border-top-width)
    var(--mixin-7uh-qXJTaDv1_border-top-style)
    var(--mixin-7uh-qXJTaDv1_border-top-color);
  border-right: var(--mixin-7uh-qXJTaDv1_border-right-width)
    var(--mixin-7uh-qXJTaDv1_border-right-style)
    var(--mixin-7uh-qXJTaDv1_border-right-color);
  border-bottom: var(--mixin-7uh-qXJTaDv1_border-bottom-width)
    var(--mixin-7uh-qXJTaDv1_border-bottom-style)
    var(--mixin-7uh-qXJTaDv1_border-bottom-color);
  border-left: var(--mixin-7uh-qXJTaDv1_border-left-width)
    var(--mixin-7uh-qXJTaDv1_border-left-style)
    var(--mixin-7uh-qXJTaDv1_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-RZplVAMXsQjX_display);
  flex-direction: var(--mixin-RZplVAMXsQjX_flex-direction);
  align-items: var(--mixin-RZplVAMXsQjX_align-items);
  justify-content: var(--mixin-RZplVAMXsQjX_justify-content);
  list-style-position: var(--mixin-RZplVAMXsQjX_list-style-position);
  padding-left: var(--mixin-RZplVAMXsQjX_padding-left);
  position: var(--mixin-RZplVAMXsQjX_position);
  list-style-type: var(--mixin-RZplVAMXsQjX_list-style-type);
  flex-column-gap: var(--mixin-RZplVAMXsQjX_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-0eCWiT-EeOtu_display);
  flex-direction: var(--mixin-0eCWiT-EeOtu_flex-direction);
  align-items: var(--mixin-0eCWiT-EeOtu_align-items);
  justify-content: var(--mixin-0eCWiT-EeOtu_justify-content);
  list-style-position: var(--mixin-0eCWiT-EeOtu_list-style-position);
  padding-left: var(--mixin-0eCWiT-EeOtu_padding-left);
  position: var(--mixin-0eCWiT-EeOtu_position);
  list-style-type: var(--mixin-0eCWiT-EeOtu_list-style-type);
  flex-column-gap: var(--mixin-0eCWiT-EeOtu_flex-column-gap);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-INCPg4dP1d4V_color);
}
